<footer class="footer">
    <p>&copy; 2025 - <span id="current-year"></span> <strong>Md. Tanvir Siddique Pramanik</strong>. All rights
        reserved.
    </p>
    <p>Contact: <a href="mailto:mdtspramanik@gmail.com">mdtspramanik@gmail.com</a></p>
    <p>
        Socials:
        <a href="https://www.linkedin.com/in/mdtspramanik" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a href="https://github.com/mdtspramanik" target="_blank" rel="noopener noreferrer">GitHub</a>
    </p>
</footer>

<script>
    document.getElementById("current-year").textContent = new Date().getFullYear();
</script>
</body>

</html>