<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    <header>
        <h1>Book Notes</h1>
        <nav>
            <div class="home-link flex-list">
                <li><a href="/">Home</a></li>
                <li><a href="/add">Add</a></li>
            </div>
            <p class="nav-text">Sort by:</p>
            <ul class="flex-list">
                <li><a href="/best">Best</a></li>
                <li><a href="/newest">Newest</a></li>
                <li><a href="/title">Title</a></li>
            </ul>
        </nav>
    </header>
    <main>

</body>

</html>