<%- include("partials/header.ejs") %>

    <p class="margin-left">Sort by:</p>
    <ul class="flex-list">
        <li><a href="/best">Best</a></li>
        <li><a href="/newest">Newest</a></li>
        <li><a href="/oldest">Oldest</a></li>
    </ul>
    </nav>
    <div class="margin-right flex-list flex-end">
        <form action="/" method="post">
            <input class="search-box" type="text" name="search" placeholder="Enter the ISBN (no dashes)" required
                maxlength="13">
            <button class="button" type="submit">Search</button>
        </form>
    </div>
    </header>

    <main></main>

    <%- include("partials/footer.ejs") %>