<%- include("partials/header.ejs") %>

    <p class="margin-left">Sort by:</p>
    <ul class="flex-list">
        <li><a href="/best">Best</a></li>
        <li><a href="/newest">Newest</a></li>
        <li><a href="/oldest">Oldest</a></li>
    </ul>
    </nav>
    </header>
    <main></main>

    <%- include("partials/footer.ejs") %>