body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1,
h2,
h3 {
    color: #FFFFFF;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin: 27px;
}

.home-link {
    margin-left: 20px;
}

.margin-left {
    margin-left: 20px;
}

.flex-list {
    display: flex;
    gap: 20px;
}

.flex-list li {
    list-style-type: none;
}

p {
    color: #B0B0B0;
}

a {
    color: #00A8E8;
    text-decoration: none;
}

a:hover {
    color: #FF9800;
    text-decoration: underline;
}

.margin-form {
    margin-top: 20px;
    margin-left: 20px;
}

.search-box {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    width: 135px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #127ea9;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}

.button:hover {
    background-color: #0056b3;
}

.image {
    width: 230px;
    height: 300px;
    margin-top: 30px;
    margin-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

.input-box {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.position-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.padding-button {
    padding: 8px 22px;
}

.center {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 5px;
    text-align: center;
    margin-top: auto;
}